@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #010101;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #010101;
  color: theme('colors.zinc.500');
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

button {
  min-width: 12rem;
  font-weight: 400;
  font-size: 1.15rem;
  background-color: #6044d8;
  color: white;
  padding: 1rem 1.6rem;
  border-radius: 30px;
}

h1,
h3,
h5 {
  color: white;
  font-weight: 500;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
}

h3 {
  font-size: 3.2em;
  line-height: 1.1;
}

h5 {
  font-size: 1.25em;
  line-height: 1.1;
}
