@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.75rem;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #010101;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #010101;
  color: #A1A3BB;
  -webkit-font-smoothing: antialiased
}

body,
input {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

button {
  min-width: 12rem;
  font-weight: 400;
  font-size: 1.05rem;
  color: white;
  padding: 0.75rem 1.05rem;
  background: #6044d8;
  background-image: linear-gradient(to right, #6044d8, #7544d8);
}

h1 {
    font-size: 4.4rem;
    line-height: 1.1;
}

button:hover {
  background-image: linear-gradient(to right, #795ded, #8656e7);
}

h1,
h3,
h4,
h5,
h6{
  color: white;
  font-weight: 500;
}

h3 {
  font-size: 2.2rem;
  line-height: 1.1;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.1;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #907ceb;
}

::selection {
  color: white;
  background: #907ceb;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@keyframes scroll {
  0% {
    right: 50%;
  }
  100% {
    right: 900%;
  }
}

.animate {
  animation: scroll 60s linear infinite;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(5rem);
    opacity: 0
  }
  100% {
    transform: translateY(0%);
    opacity: 1
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}
